body {
    margin: auto;
    text-align: center;
    font: 14px sans-serif;
    background-color: #fff;
    background-image: url("coffeeImage.jpg");
    background-position: right bottom;
    background-size: 25%;
    background-repeat: no-repeat;
}

.wrapper {
    width: 350px;
    padding: 20px;
    margin: auto;
}

.content {
    margin: auto;
}

.border {
    padding: 5px;
    margin: 5px;
}


.scrollable {
    height: 550px;
    overflow: scroll;
}

.hallo {
    padding: 5px;
    border-style: solid;
    border-color: #808080;
    background-color: #dadada;
}